{% extends 'pets/base/base1.html' %}

{% load static %} <!-- nessessairy to use static files-->

{% block title %}Find Your Lost Pet.com{% endblock %}

{% block site_css %}
    
{% endblock %}


{% block body %}
    <div class="container" style="background-color: #dae3f3; border-radius: 25px; padding: 20px;">
        <div class="" style=" margin-left: 400px;" >
            <p>We are here to help.</p>
            <p>If you have any concerns please do not hesitate to contact us at the links below.</p>
            <ul class="">
                <li><a href="mailto:tstarr@valenciacollege.edu">Email our sponsor</a></li>
                <li><a href="mailto:guilfuchir@gmail.com">Email our web developer</a></li>
                <li><a href="mailto:baataouiyoussef@gmail.com">Email our Programmer</a></li>
            </ul>
        </div>
    </div>
        
       	
{% endblock %}

	

