{% extends 'pets/base/base.html' %}

{% load static %} <!-- nessessairy to use static files-->

{% block title %}Find Your Lost Pet.com{% endblock %}

{% block site_css %}
	<link rel="stylesheet" href="{% static 'pets/styles/all_pets.css' %}">

{% endblock %}
	
	
{% block site_menu %}
	<ul class="nav-area">
		<li><a href="{% url  'list_pets' %}">Pets</a></li>
		<li><a href="{% url  'add_pet' %}">Log In</a></li>
		<li><a href="#">How It Works</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">GET YOUR PET BACK</a></li>
		<li><a href="#">REGISTER YOUR BUSINESS</a></li>
	</ul>
{% endblock %}

{% block body %}
		{{ pet_list }}	
		
{% endblock %}