*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 1170px;
	margin:auto;
}
header{
	background-color: #8ac53e;
	height: 150px;
	-webkit-background-size:cover;
	background-size:cover;
	background-position: center center;
	position: relative;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top:30px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family:poppins;
	font-size: 30px;
	border: 1px solid #fff
}
.nav-area li a:hover{
	background: #fff;
	color: #333;
}
.login{
	font-size:30px;
	margin-top:150px;
	
}
.button{
	font-size:20px;
	
}
.body{
	background:rgb(252, 249, 249)
		
}